Output/delay.obj
Output/lces
Output/lces.hex
Output/lces.plg
Output/main.obj
Output/STARTUP.obj
Output/uart.obj
Project/lces_uvopt.bak
Project/lces_uvproj.bak
Project/lces.uvopt
Project/lces.uvproj
Temp/delay.lst
Temp/lces.m51
Temp/main.lst
Temp/STARTUP.lst
Temp/uart.lst
Project/lces_uvopt.bak
Project/lces_uvproj.bak
